
.city-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.city-item{
  width: 49%;
  border: 3px rgb(5, 5, 5) solid;
}
.last{ 
  width: 100%;
}
.li-item {
  cursor: default;
}

.li-item.done {
  text-decoration: line-through;
  opacity: 0.5;
}